<div class="nav__flex">
    <header class="header">
        <div class="logo"><a href="/">Brians Ostebiks</a></div>
    </header>
    <nav class="nav">
        <ul class="links" role="menu">
            <li><a href="/oversigt?category=cheese">Oste</a></li>
            <li><a href="/oversigt?category=wine">Vin</a></li>
            <li><a href="/oversigt?category=bread">Brød</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </nav>
</div>