<% include ../partials/head %>
<% include ../partials/nav %>


<main class="hero">
    <img class="hero__img" src="/assets/images/hero-bg.jpg" alt="Ost" srcset="">
    
    <h2 class="hero__storOverskrift">Brians Ostebiks</h2>
    <h1 class="hero__lilleOverskrift">Ugens ost</h1>
    <div class="hero__cardholder">
        <% include ../partials/kort %>
    </div>
</main>


<% include ../partials/afterFooter %>