<% include ../partials/head %>
<% include ../partials/nav %>

<main class="kontakt">
    <h1 class="mig">Brians Ostebiks</h1>
    <address class="mig__adresse">GammelKongevej 132, 1868 Frb C</address>
    <p class="mig__telefon">27143040</p>
</main>

<% include ../partials/afterFooter %>