<% include ../partials/head %>
<% include ../partials/nav %>

<main class="osteside">
    <section>
        <h2 class="osteside__produktkategori">Oste</h2>
        <p class="osteside__tekst">Kategoripræsentation - Stilton dolcelatte caerphilly. 
            Brie port-salut taleggio caerphilly emmental halloumi cheese and biscuits 
            cheesy grin. Melted cheese fromage who moved my cheese melted cheese macaroni 
            cheese brie ricotta jarlsberg. Cheese triangles pepper jack cauliflower cheese 
            smelly cheese bavarian bergkase danish fontina.
        </p>
        <ul class="cardList">

        </ul>
    </section>
</main>
<script src="/assets/javaScript/getproducts.js"></script>

<template id="cardTemplate">
    <li>
        <article class="kort">
            <img class="kort__img" src=""> 
            <h2 class="kort__h2"></h2> 
            <p class="kort__tekst">
            </p>         
            <table>
                <tr>
                    <th>Land</th>
                    <td><span class="country"></span></td>
                </tr>
                <tr>
                    <th>vægt</th>
                    <td><span class="weight"></span>g</td>
                </tr>
                <tr>
                    <th>Pris</th>
                    <td><span class="price"></span></td>
                </tr>
            </table>
            <a href="single.html">læs mere</a>
        </article>
    </li>
</template>
<% include ../partials/afterFooter %>