<% include ../partials/head %>
<% include ../partials/nav %>

<main class="single">
    <% include ../partials/kort %>
    <div class="single__info">
        <figure class="gallery">
            <img id="imgOne" class="gallery__img" src="" alt="" srcset="">
            <img id="imgtwo" class="gallery__img" src="" alt="" srcset="">
            <img id="imgthree" class="gallery__img" src="" alt="" srcset="">
            <img id="imgfour" class="gallery__img" src="" alt="" srcset="">
        </figure>
        <div class="single__place">
            <table>
                <tr>
                    <th>Land</th>
                    <td><span class="country"></span></td>
                </tr>
                <tr>
                    <th id="type">vægt</th>
                    <td><span class="weight"></span>g</td>
                </tr>
                <tr>
                    <th>Pris</th>
                    <td><span class="price"></span></td>
                </tr>
            </table>
        </div>
        <div class="teaserbox">
            <figure class="teaserbox__img">

            </figure>
        </div>
    </div>

</main>
<script src="/assets/javaScript/single.js"></script>
<% include ../partials/afterFooter %>