<% include ../partials/head %>
<% include ../partials/nav %>

<main class="osteside">
    <h2 class="osteside__produktkategori">Vin</h2>
    <p class="osteside__tekst">Kategoripræsentation - Stilton dolcelatte caerphilly. 
        Brie port-salut taleggio caerphilly emmental halloumi cheese and biscuits 
        cheesy grin. Melted cheese fromage who moved my cheese melted cheese macaroni 
        cheese brie ricotta jarlsberg. Cheese triangles pepper jack cauliflower cheese 
        smelly cheese bavarian bergkase danish fontina.
    </p>
        <% include ../partials/produktkortVin %>
        <% include ../partials/produktkortVin %>
        <% include ../partials/produktkortVin %>
</main>

<% include ../partials/afterFooter %>